.loading-screen-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-dots{
  display: flex;
  justify-content: center;
}
.loading-screen-shape-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;

}

.loading-screen-shape {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  animation: loading 0.4s infinite alternate;
}
.loading-screen-shape2 {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  animation: loading 0.4s infinite alternate;
  animation-delay: 0.05s;
}
.loading-screen-shape3 {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  animation: loading 0.4s infinite alternate;
  animation-delay: 0.1s;
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(40px);
  }
}

.loading-text{
  color:white;
  font-size: 80px;
}
.sorry-text{
  color:white;
  font-size: 30px;
  margin-top: 10vh;
}