.header-image {
  width: 100%;
  height: auto;
  top: 25%;
  transform: translate(0%, -25%);
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.header-container {
  width: 100vw;
  height: 74vh;
  overflow: hidden;
}
