.header-image {
  width: 100%;
  height: auto;
  top: 25%;
  transform: translate(0%, -20%);
  transition: all 0.5s ease;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
.header-container {
  width: 100vw;
  height: 74vh;
  overflow: hidden;
}

.dark-header {
  position: absolute;
  width: 100%;
  height: 10%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.6;
  top: 0;
  z-index: 1;
}
