.show-image-container {
  position: absolute;
  top: 13.5vh;
  height: 44vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
  opacity: 0.6;
  z-index: 0;
}
.show-page-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 40vh;
}
.show-image {
  height: 57.5vh;
  width: 33.33%;
}

.show-page-name {
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}

.show-page-header {
  position: absolute;
  top: 36vh;
  /* background-color: royalblue; */
  z-index: 1;
  left: 300px;
  /* overflow: hidden; */
}

.show-review-container {
  height: 32px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 200px;
}

.direction-container {
  height: 100px;
  width: 400px;
  border: solid rgb(235, 235, 235) 1.5px;
  border-radius: 5px;
}
.direction-address {
  margin-left: 20px;
}

.properties-info-container {
  position: absolute;
  top: 110vh;
  display: flex;
  justify-content: space-between;

  /* background-color: gray; */
  width: 1170px;
  flex-direction: row;
  height: 30vh;
}

.show-body-container {
  display: flex;
  /* background-color: gray; */
  width: 1170px;
  margin-left: 300px;
  flex-direction: row;
  height: 75vh;
}
.show-googlemaps {
  display: flex;
  width: 400px;
  height: 200px;
}

.amenities-list li {
  font-size: 16px;
  margin-top: 16px;
}

.amenities-list2 li {
  font-size: 16px;
  margin-top: 16px;
}
.amenities-list,
.amenities-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.amenities-list li,
.amenities-list2 li {
  width: 48%;
}
.directions-style {
  color: rgb(2, 122, 151);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.show-button-review {
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5%;
  font-size: 16px;
  padding: 10px 13px;
  background-color: rgb(224, 7, 7);
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 2vh;
  margin-left: 300px;
}

.google-map-address {
  position: absolute;
  margin-top: 225px;
}

.show-description {
  font-weight: 600;
  color: white;
  height: 105px;
}

.show-open-text {
  color: rgba(4, 197, 133, 1);
  font-weight: bold;
}

.show-open-text-container {
  margin-top: 20px;
}

.review-button-container {
  width: 765px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.show-hours {
  width: 600px;
  height: auto;
  /* background-color: green; */
  display: flex;
}

.date-abbrev {
  margin-right: 20px;
  margin-left: 30px;
}

.show-hours li {
  margin-bottom: 20px;
}

.reviews-form-container {
  position: flex;
  height: 70vh;
  width: 50vw;
  margin-left: 300px;
  overflow-y: auto;
}

.location-and-hours-title {
  margin-left: 300px;
  margin-top: 20px;
}

.show-user-review-container {
  /* background-color: green; */
  width: 50vw;
  min-height: 15vh;
  margin-bottom: 1vh;
  /* border: 1px solid black; */
  position: relative;
}

.dropdown-container {
  display: inline;
}
.dropdown {
  right: -95%;
  position: relative;
  display: inline;
}

.dropdown span {
  font-size: 20px;
}

.dropdown button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  min-width: 160px;
  padding: 8px;
  margin: 2px 0 0;
  font-size: 1rem;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  font-weight: 400;
  color: #212529;
  text-align: left;
  white-space: nowrap;
  background-color: transparent;
  text-decoration: none;
  border: 0;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: lightgray;
  border-radius: 5px;
  color: #16181b;
  text-decoration: none;
}

.author-name {
  display: inline;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.business-review-container {
  margin-top: 20px;
  /* background-color: green; */
  margin-bottom: 15px;
}

.review-created-date {
  /* background-color: blue; */
  color: gray;
  font-size: 14px;
  display: inline;
}

.review-contents {
  margin-left: 13px;
  /* background-color: blue; */
}

.edit-save-button {
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin-top: 2%;
  font-size: 16px;
  padding: 10px 13px;
  background-color: rgb(224, 7, 7);
  color: rgb(255, 255, 255);
  line-height: 1.3rem;
  font-weight: bold;
}
