.home-index-icon {
  font-family: sans-serif;
  margin-left: 5%;
  font-weight: bold;
  color: black;
  width: 5vw;
  cursor: pointer;
  width: 100px;
  min-width: 100px;
}

.home-index-icon:hover {
  color: red;
  transition: color 0.3s ease;
}

.icon-container {
  border-width: 2px;
  width: 200px;
  min-width: 200px;
  border-color: black;
  /* background-color: green;   */
  display: flex;
  position: fixed;
  top: 4vh;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;
}

.home-index-icon-white {
  font-family: sans-serif;
  margin-left: 5%;
  font-weight: bold;
  color: white;
  width: 5vw;
  cursor: pointer;
  z-index: 3;
  width: 100px;
  min-width: 100px;
}

.home-index-icon-white:hover {
  color: red;
  transition: color 0.3s ease;
}

.yelp-splash {
  min-width: 30px;
  width: 30px;

  margin-left: 1%;
}

.yelp-splash:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
