.main-page {
  width: 100vw;
  height: fit-content;
  position: flex;
}

.map-container {
  position: fixed;
  top: 14vh;
  left: 66vw;
  z-index: 0;
}
.business-background-color {
  background-color: white;
  position: fixed;
  top: 0;
  height: 14vh;
  width: 100vw;
  z-index: 2;
}
hr {
  position: fixed;
  top: 4vh;
  width: 100%;
  color: rgba(211, 211, 211, 0.2);
  z-index: 2;
}

.business-header {
  margin-left: 15vw;
  margin-top: 2vh;
  font-weight: bold;
}
.business-list-container {
  margin-top: 20vh;
}

.business-filter {
  width: 15vw;
  height: 100vh;
  /* float: left; */
  /* background-color: green; */
  margin-top: 20vh;
}

.business-filter-list {
  position: fixed;
}

.filter-button {
  border: solid lightgray 1px;
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
  border-left: 0px;
  margin-top: 5vh;
}

.filter-button:hover {
  background-color: lightgray;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.filter-first-button {
  margin-left: 1vw;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.filter-fourth-button {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.reset-filter-button {
  display: inline;
  margin-left: 2vw;
  color: rgb(2, 122, 151);
}

.reset-filter-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.filter-h2 {
  margin-left: 2vw;
  margin-bottom: 3vh;
}
.filter-button-list {
  position: fixed;
}

.next-page-button {
  float: right;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  background-color: transparent;
  border: 1px solid lightgray;
  padding: 8px 14.5px;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin-left: 25px;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  z-index: 2;
}

.next-page-button:hover {
  background-color: rgba(211, 211, 211, 0.5);
  transition: background-color 0.3s ease;
}

.page-buttons {
  /* background-color: green; */
  width: 200px;
  height: 200px;
  display: flex;
  margin-top: 4vh;
  margin-left: 14vw;
}

.business-indexpage-flex {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 300px;
}

.no-business-found {
  margin-left: 10vw;
  margin-top: 5vh;
}
