.category-container {
  display: flex;
  width: 13vw;
  height: 18vh;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.category-container:hover .image-icon-container {
  color: white;
  transition: background-color 0.3s ease;
}

.category-container:hover {
  background-color: #cc0000;
  color: white;
  transition: background-color, box-shadow 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 18px 0px;
}
.image-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #cc0000;
}
