.business-component {
  display: flex;
  width: 48vw;
  height: 26vh;
  /* border: 1px solid red; */
  /* border-top: 1px solid rgb(235, 235, 235); */
  border-bottom: 1px solid rgb(235, 235, 235);
}

.business-component:hover {
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 18px 0px;
}
.business-component-container {
  display: flex;
  top: 20vh;
  left: 15vw;
  flex-wrap: wrap;
  width: 51vw;
  min-height: 100vh;
}

.business-properties {
  width: 48vw;
  word-wrap: break-word;
}
.business-image {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  z-index: 0;
}

.business-image-container {
  min-width: 200px;
  min-height: 200px;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-name {
  display: block;
  margin-bottom: 10px;
  margin-top: 2vh;
  margin-left: 1vw;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: rgba(45, 46, 47, 1);
}

.business-button {
  background-color: rgba(211, 211, 211, 0.5);
  border: none;
  border-radius: 5px;
  color: rgb(110, 112, 114);
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 0.4vw;
  padding: 2px;
  font-weight: bold;
  vertical-align: top;
  padding: 3px;
}

.business-button:hover {
  background-color: #c0c0c0;
}

.business-button-container {
  margin-left: 1vw;
  color: rgb(110, 112, 114);
}

.business-review-container {
  height: 20px;
  overflow: hidden;
  margin-left: 1vw;
  margin-bottom: 0.5vw;
  z-index: 0;
  width: 150px;
}

.business-open-till {
  margin-top: 1vh;
  margin-left: 1vw;
  font-size: 14px;
}

.filter-h2 {
  display: inline;
}

.business-text-container {
  margin-left: 25px;
  margin-top: 20px;
  height: 200px;
}

.business-open-text {
  color: rgb(0, 128, 85);
  font-weight: bold;
}

.business-flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 51vw;
  margin-left: 2vw;
}
