body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

div#root {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(45, 46, 47);
}

h2 {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(45, 46, 47);
}

.button {
  text-decoration: none;
  color: inherit;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: Helvetica;
}

.link {
  text-decoration: underline;
  color: #0000ee;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form label {
  width: 100%;
  margin: 5px 0;
}

.form input,
.form textarea {
  margin-left: 10px;
  float: right;
}

.form .button {
  margin-top: 20px;
  align-self: center;
}

.form-errors {
  color: darkred;
  margin-bottom: 10px;
}

.form-errors li {
  margin: 5px 0;
}


html, body {
  min-width: 1200px;
  overflow-x: hidden;
}