.login-form-container {
  width: 20%;
  margin-left: 20%;
  margin-top: 30%;
}

.login-button {
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin: 0px;
  padding: 8px 16px;
  width: 100%;
  background-color: rgb(224, 7, 7);
  color: rgb(255, 255, 255);
}

.sign-in-image {
  margin-left: 60%;
  margin-top: -20%;
}

.red-text {
  color: #d32323;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.28571em;
  margin-bottom: 6px;
  text-align: center;
}

.new-text {
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
  font-size: 14px;
  text-align: center;
}

.terms-text {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-bottom: 12px;
}
