.signup-form-container {
  min-width: 250px;
  max-width: 250px;
  margin-right: 10vw;
}

input {
  width: 14vw;
  margin-bottom: 6px;
}

.signup-button {
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin-bottom: 5%;
  font-size: 16px;
  padding: 10px 13px;
  width: 100%;
  background-color: rgb(224, 7, 7);
  color: rgb(255, 255, 255);
  line-height: 1.3rem;
  font-weight: bold;
}

.red-text {
  color: #d32323;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.28571em;
  margin-bottom: 6px;
  text-align: center;
}

.new-text {
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
  font-size: 14px;
  text-align: center;
}

.terms-text {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-bottom: 12px;
}

#first-name {
  width: 43%;
  margin-right: 7px;
}
#last-name {
  width: 43%;
}

hr {
  margin-top: 10vh;
  color: rgba(211, 211, 211, 0.2);
}

.small-login-text {
  float: right;
  font-size: 12px;
  color: gray;
}

.errors {
  position: fixed;
  top: 2vh;
  left: 25vw;
  height: auto;
  flex-direction: column;
  width: 100vw;
  max-width: 50vw;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.1);
  z-index: 10;
}

.errors li {
  margin-left: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 94.5%;
}
