.signup-form-container {
  width: 15%;
  margin-left: 30vw;
  margin-top: 17vh;
}

input {
  width: 14vw;
  margin-bottom: 6px;
}

.signup-button {
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin-bottom: 5%;
  font-size: 16px;
  padding: 10px 13px;
  width: 14.75vw;
  background-color: rgb(224, 7, 7);
  color: rgb(255, 255, 255);
  line-height: 1.3rem;
  font-weight: bold;
}

.sign-up-image {
  position: absolute;
  left: 52.95vw;
  top: 23.7vh;
}

.red-text {
  color: #d32323;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.28571em;
  margin-bottom: 6px;
  text-align: center;
}

.new-text {
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
  font-size: 14px;
  text-align: center;
}

.terms-text {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-bottom: 12px;
}

#first-name {
  width: 43%;
  margin-right: 7px;
}
#last-name {
  width: 43%;
}

hr {
  margin-top: 10vh;
  color: rgba(211, 211, 211, 0.2);
}

.small-login-text {
  float: right;
  font-size: 12px;
  color: gray;
}
