.nav-bar {
  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  display: flexbox;
  align-items: center;
}

.sign-in-button {
  float: right;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid white;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  margin-left: 17rem;
  margin-right: 1rem;
}

.sign-in-button-dark {
  float: right;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid lightgray;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-left: 17rem;
  margin-right: 1rem;
}

.sign-up-button {
  float: right;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  align-items: center;
  padding: 8px 16px;
  background-color: rgb(224, 7, 7);
  color: rgb(255, 255, 255);
}

.profile-icon {
  float: right;
  color: white;
  font-size: 32px;
}

.fa-user-circle {
  color: gray;
}

.logout-button {
  color: white;
}

.search-container {
  width: 60%;
  margin-left: 15rem;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-control {
  width: 80%;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 18px 0px;
}

.btn {
  position: absolute;
  padding: 0.88rem;
  color: #fff;
  background-color: red;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 18px 0px;
}

.fa-magnifying-glass {
  font-size: 20px;
}
